.page-container {
  background-color: var(--accent-color);
  color: var(--text-color);
  flex-grow: 1;
  padding: 2rem;
  text-align: left;
}

.page-title {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.page-actions {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.action-btn {
  background-color: var(--primary-color); 
  color: var(--text-color-light);
  border: none;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: filter 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, filter 0.2s ease;
}

.action-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  filter: brightness(1.1);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 2rem;
  padding-top: 1rem;
}