.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Layout container (sidebar + content) */
.main-body-layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

/* Main content area (for both layouts) */
.content-area {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* /home class container */
.full-page-content {
  background-color: var(--accent-color);
  color: var(--text-color);
  padding: 2rem;
  flex-grow: 1;
  text-align: center;
}

.page-centered-content {
  background-color: var(--accent-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  

  justify-content: flex-start; 
  align-items: center;     
  padding-top: 30vh;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--text-color);
  text-align: center;
}

/* New styles for toasify notifications */
:root {
  --toastify-toast-width: 600px;
}

.Toastify__toast {
  width: auto;
  min-width: 320px;
}